# Supabase Configuration for AgroPulse Client (Public Anon Key ONLY)
EXPO_PUBLIC_SUPABASE_URL=https://vovmhncjbpcvnlxoszbi.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_XibvMJBo6Y9__TElonsiwQ__k8MYi28
